LOCAL_THEME_DIR="/Users/rajat/pgroup-wp-theme/wp-content/themes/pgroup-child"
REMOTE_USER="your_ssh_user"
REMOTE_HOST="your.server.com"
REMOTE_THEME_DIR="/absolute/path/to/site/wp-content/themes/pgroup-child"

# Optional
# SSH_PORT="22"
# EXTRA_RSYNC_FLAGS="--progress"
